@model Customer
@{
    ViewData["Title"] = "Upload Excel File";
}


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" id="customer-form" class="row" asp-action="CreateCustomer" asp-controller="Home">
            <div class="border p-3">

                @*asp-validation-summary="ModelOnly"*@
                @*asp-validation-summary="ModelOnly" will display all validation error*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="FirstName" class="form-control border-0 shadow" />
                    <label asp-for="FirstName" class="ms-2"></label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="LastName" class="form-control border-0 shadow" />
                    <label asp-for="LastName" class="ms-2"></label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CheckoutDate" class="form-control border-0 shadow" />
                    <label asp-for="CheckoutDate" class="ms-2"></label>
                    <span asp-validation-for="CheckoutDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="row mt-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Upload" class="btn btn-outline-dark form-control">upload Excel File</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
